<div class="block p-6 rounded-lg shadow-lg bg-white max-w-md mx-auto mt-[4rem] mb-[4.5rem]">
    <form [formGroup]="RegisterProducto" (submit)="AgregarProducto()">
      <div class="grid grid-cols-2 gap-4">
        <div class="form-group mb-6">
          <input type="text" class="form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput123"
            aria-describedby="emailHelp123" placeholder="Nombre" name="Nombre" formControlName="Nombre">
        </div>
        <div class="form-group mb-6">
          <input type="text" class="form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput124"
            aria-describedby="emailHelp124" placeholder="Marca" name="Marca" formControlName="Marca">
        </div>
      </div>
      <div class="form-group mb-6">
        <input type="text" class="form-control block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput125"
          placeholder="Descripcion" name="Descripcion" formControlName="Descripcion">
      </div>
      <div class="form-group mb-6">
        <input type="text" class="form-control block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput126"
          placeholder="Precio" name="Precio" formControlName="Precio">
      </div>
      <div class="form-group form-check text-center mb-6">
        <input type="text" class="form-control block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInput126"
          placeholder="Foto" name="Modelo" formControlName="Modelo">
      </div>
      <div class="flex justify-between gap-5">
        <button type="submit" class="
        w-full
        px-6
        py-2.5
        bg-green-400
        text-white
        font-medium
        text-xs
        leading-tight
        uppercase
        rounded
        shadow-md
        hover:bg-green-500 hover:shadow-lg
        focus:bg-green-500 focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-green-700 active:shadow-lg
        transition
        duration-150
        ease-in-out mb-2">Agregar</button>
        <button type="button" class="
        w-full
        px-6
        py-2.5
        bg-red-600
        text-white
        font-medium
        text-xs
        leading-tight
        uppercase
        rounded
        shadow-md
        hover:bg-red-700 hover:shadow-lg
        focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0
        active:bg-red-800 active:shadow-lg
        transition
        duration-150
        ease-in-out mb-2" routerLink="/home">Regresar</button>
      </div>
    </form>
  </div>